{% extends 'partials/base2.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}

<style>

    body {
        background-color: #151515;
        color: white;
    }
    .up {
        padding-top: 25px;
    }
    .button {
        background: #0E46A3;
    }
    .h1{
        font-size: 40px;
    }
    .form-control {
        border-radius: 15px;
        padding: 15px 40px;

    }
    .off-color, .display-7 {
        color: #C73659;
    }
    @media screen and (max-width: 500px) {

        }


</style>

<!--<div class="container p-2" style="max-height: 100vh; min-width: 100vw;">-->

<div class="mt-4">
    <!--    <div class="">-->
    <a href="{%url 'authusers:splash'%}" class="text-decoration-none d-flex align-items-center">
        <i class="off-color bi fs-5 bi-chevron-left"></i>
        <h6 class="off-color display-7 mt-2">Back</h6>
    </a>

</div>
<!--</div>-->
<main class="d-flex flex-column align-items-center form-signin">
    <!--        <div class="align-items-center">-->
    <form method="POST" action="">

        <div class="d-flex align-items-center justify-content-center">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://lottie.host/5018496f-adc8-4968-adad-6f3b7b99bb9e/zbhIKWxZ1U.json" speed="0.5" style="width: 250px; height: 250px" loop autoplay direction="1"
                           mode="normal">

            </lottie-player>
            <!--                    <img width="200" src="{% static 'app_images/Asset2.png' %}" alt="">-->
        </div>

        <fieldset>
            {% comment %}
            <legend>Please register</legend>
            {% endcomment %}
            <h6 class="h4 fw-normal text-center up"><strong>Register for free</strong></h6>

            {% csrf_token %}
            {{ form|crispy }}

            <br>

            <button class="btn btn-control btn-outline-secondary w-100" style="color: #EEEEEE;"
                    type="submit"><strong>Register</strong></button>
        </fieldset>
        <br>

        <p class="mt-3 text-center"><small>Already have an account &nbsp | &nbsp
            <a href="{% url 'authusers:login' %}" class="off-color text-decoration-none">Login</a></small></p>

        <br>

        <p class="text-center" style="opacity: 0.2;"><strong><small>&copy; 2024 Analytic and Web
            Services Ltd</small></strong></p>
    </form>
    <!--        </div>-->
</main>
<!--</div>-->

{% endblock %}